Repository gear-tech/gear-bridges, pull requests merged in 2024-12, with the labels that each got.

#195 refactor(tests): Spawn node for the tests
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  ethereum_beacon_client/Cargo.toml
  ethereum_beacon_client/src/lib.rs
  ethereum_beacon_client/src/slots_batch.rs
  ethereum_beacon_client/src/utils.rs
  gear-programs/bridging-payment/Cargo.toml
  gear-programs/erc20-relay/app/Cargo.toml
  gear-programs/erc20-relay/app/tests/gclient.rs
  gear-programs/vft-manager/Cargo.toml
  relayer/Cargo.toml
  relayer/src/ethereum_checkpoints/replay_back.rs
  relayer/src/ethereum_checkpoints/sync_update.rs
  relayer/src/ethereum_checkpoints/tests/chain-data/headers.json.zst
  relayer/src/ethereum_checkpoints/tests/chain-data/holesky-bootstrap-368.json.zst
  relayer/src/ethereum_checkpoints/tests/chain-data/holesky-finality-update-3_016_736.json
  relayer/src/ethereum_checkpoints/tests/chain-data/holesky-finality-update-3_016_768.json
  relayer/src/ethereum_checkpoints/tests/chain-data/holesky-finality-update-3_016_799.json
  relayer/src/ethereum_checkpoints/tests/chain-data/holesky-update-368.json.zst
  relayer/src/ethereum_checkpoints/tests/chain-data/sepolia-bootstrap-640.json
  relayer/src/ethereum_checkpoints/tests/chain-data/sepolia-finality-update-5_263_072.json
  relayer/src/ethereum_checkpoints/tests/chain-data/sepolia-update-640.json
  relayer/src/ethereum_checkpoints/tests/mod.rs
  relayer/src/ethereum_checkpoints/tests/sepolia-finality-update-5_254_112.json
  relayer/src/main.rs
  relayer/src/message_relayer/common/ethereum/deposit_event_extractor.rs
  relayer/src/message_relayer/common/ethereum/message_paid_event_extractor.rs
  relayer/src/message_relayer/common/ethereum/mod.rs
  relayer/src/message_relayer/common/gear/message_sender/compose_payload.rs
  relayer/src/message_relayer/common/gear/message_sender/mod.rs
  relayer/src/message_relayer/eth_to_gear/all_token_transfers.rs
  relayer/src/message_relayer/eth_to_gear/paid_token_transfers.rs
  tools/deploy-checkpoints/Cargo.toml
  tools/deploy-checkpoints/src/main.rs
Labels: stability, refactoring

#229 feat(frontend): approve eth transfer to `Bridging Payment`
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/features/swap/components/ft-allowance-tip/ft-allowance-tip.tsx
  frontend/src/features/swap/hooks/eth/use-approve.ts
  frontend/src/features/swap/hooks/eth/use-erc20-manager-address.ts
  frontend/src/features/swap/hooks/eth/use-eth-ft-allowance.ts
  frontend/src/features/swap/types/hooks.ts
Labels: frontend

#231 feat(frontend): add token tracker
  frontend/src/assets/token-placeholder.svg
  frontend/src/assets/usdc.svg
  frontend/src/assets/vara-usdc.svg
  frontend/src/assets/wrapped-eth.svg
  frontend/src/assets/wrapped-vara.svg
  frontend/src/components/layout/header/header.module.scss
  frontend/src/components/layout/header/header.tsx
  frontend/src/consts/env.ts
  frontend/src/consts/icons.ts
  frontend/src/consts/index.ts
  frontend/src/features/history/components/transaction-pair/transaction-pair.tsx
  frontend/src/features/swap/components/swap-form/swap-eth-form.tsx
  frontend/src/features/swap/components/swap-form/swap-form.tsx
  frontend/src/features/swap/components/swap-form/swap-vara-form.tsx
  frontend/src/features/swap/consts/env.ts
  frontend/src/features/swap/consts/index.ts
  frontend/src/features/swap/hooks/eth/index.ts
  frontend/src/features/swap/hooks/index.ts
  frontend/src/features/swap/hooks/vara/index.ts
  frontend/src/features/swap/hooks/vara/use-handle-vara-submit.ts
  frontend/src/features/token-tracker/components/card/balance-card.module.scss
  frontend/src/features/token-tracker/components/card/balance-card.tsx
  frontend/src/features/token-tracker/components/card/index.ts
  frontend/src/features/token-tracker/components/index.ts
  frontend/src/features/token-tracker/components/token-tracker-modal/index.ts
  frontend/src/features/token-tracker/components/token-tracker-modal/token-tracker-modal.module.scss
  frontend/src/features/token-tracker/components/token-tracker-modal/token-tracker-modal.tsx
  frontend/src/features/token-tracker/components/token-tracker/index.ts
  frontend/src/features/token-tracker/components/token-tracker/token-tracker.tsx
  frontend/src/features/token-tracker/hooks/index.ts
  frontend/src/features/token-tracker/hooks/use-eth-ft-balances.ts
  frontend/src/features/token-tracker/hooks/use-vara-ft-balances.ts
  frontend/src/features/token-tracker/index.ts
  frontend/src/hooks/common/index.ts
  frontend/src/hooks/common/use-invalidate-on-block.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/use-eth-account-balance.ts
  frontend/src/hooks/use-eth-account.ts
  frontend/src/hooks/use-vara-account-balance.ts
  frontend/src/hooks/use-vara-ft-balance.ts
  frontend/src/index.scss
Labels: feature, frontend

#205 fix: Workaround low level network errors by reconnection to the node
  relayer/src/main.rs
  relayer/src/message_relayer/common/gear/block_listener.rs
  relayer/src/message_relayer/common/gear/checkpoints_extractor.rs
  relayer/src/message_relayer/common/gear/message_sender/mod.rs
  relayer/src/message_relayer/common/mod.rs
  relayer/src/message_relayer/eth_to_gear/all_token_transfers.rs
  relayer/src/message_relayer/eth_to_gear/paid_token_transfers.rs
  relayer/src/message_relayer/gear_to_eth/all_token_transfers.rs
  relayer/src/message_relayer/gear_to_eth/paid_token_transfers.rs
  relayer/src/message_relayer/mod.rs
Labels: stability, refactoring

#235 feat(frontend): add locked balance tooltip
  frontend/src/components/index.ts
  frontend/src/components/tooltip/index.ts
  frontend/src/components/tooltip/question.svg
  frontend/src/components/tooltip/tooltip.module.scss
  frontend/src/components/tooltip/tooltip.tsx
  frontend/src/features/swap/components/ft-allowance-tip/ft-allowance-tip.module.scss
  frontend/src/features/swap/components/ft-allowance-tip/ft-allowance-tip.tsx
  frontend/src/features/token-tracker/assets/warning.svg
  frontend/src/features/token-tracker/components/token-tracker/token-tracker.module.scss
  frontend/src/features/token-tracker/components/token-tracker/token-tracker.tsx
Labels: feature, frontend

#236 feat(frontend): add tokens unlock
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/consts/index.ts
  frontend/src/consts/sails/index.ts
  frontend/src/consts/sails/wrapped-vara.ts
  frontend/src/features/swap/consts/index.ts
  frontend/src/features/swap/consts/sails/index.ts
  frontend/src/features/swap/hooks/vara/use-handle-vara-submit.ts
  frontend/src/features/token-tracker/components/card/balance-card.module.scss
  frontend/src/features/token-tracker/components/card/balance-card.tsx
  frontend/src/features/token-tracker/components/token-tracker-modal/token-tracker-modal.tsx
  frontend/src/features/token-tracker/hooks/index.ts
  frontend/src/features/token-tracker/hooks/use-burn-vara-tokens.ts
Labels: feature, frontend

#239 feat(frontend): add transaction details modal
  frontend/src/assets/gas.svg
  frontend/src/components/card/card.tsx
  frontend/src/components/link-button/link-button.tsx
  frontend/src/features/history/components/transaction-card/transaction-card.module.scss
  frontend/src/features/history/components/transaction-card/transaction-card.tsx
  frontend/src/features/history/components/transaction-modal/index.ts
  frontend/src/features/history/components/transaction-modal/transaction-modal.module.scss
  frontend/src/features/history/components/transaction-modal/transaction-modal.tsx
  frontend/src/features/history/components/transaction-pair/transaction-pair.tsx
  frontend/src/features/history/components/transaction-status/transaction-status.module.scss
  frontend/src/features/history/consts/icons.ts
  frontend/src/features/history/consts/index.ts
  frontend/src/features/history/consts/queries.ts
  frontend/src/features/history/graphql/gql.ts
  frontend/src/features/history/graphql/graphql.ts
  frontend/src/index.scss
Labels: feature, frontend

#247 feat(frontend): add progress bar during transfer submit
  frontend/src/features/history/components/transaction-modal/transaction-modal.module.scss
  frontend/src/features/history/components/transaction-modal/transaction-modal.tsx
  frontend/src/features/swap/components/submit-progress-bar/index.ts
  frontend/src/features/swap/components/submit-progress-bar/submit-progress-bar.module.scss
  frontend/src/features/swap/components/submit-progress-bar/submit-progress-bar.tsx
  frontend/src/features/swap/components/swap-form/swap-form.tsx
  frontend/src/features/swap/hooks/eth/use-handle-eth-submit.ts
  frontend/src/features/swap/hooks/use-bridge.ts
  frontend/src/features/swap/hooks/use-swap-form.ts
  frontend/src/features/swap/hooks/vara/use-handle-vara-submit.ts
  frontend/src/features/swap/types/hooks.ts
Labels: feature, frontend

#248 feat(frontend): remove expected amount input
  frontend/src/App.tsx
  frontend/src/assets/clock.svg
  frontend/src/components/fee-and-time-footer/fee-and-time-footer.module.scss
  frontend/src/components/fee-and-time-footer/fee-and-time-footer.tsx
  frontend/src/components/fee-and-time-footer/gas.svg
  frontend/src/components/fee-and-time-footer/index.ts
  frontend/src/components/index.ts
  frontend/src/components/layout/container/container.tsx
  frontend/src/components/network-card/network-card.module.scss
  frontend/src/features/history/assets/clock.svg
  frontend/src/features/history/components/transaction-date/transaction-date.tsx
  frontend/src/features/history/components/transaction-modal/transaction-modal.module.scss
  frontend/src/features/history/components/transaction-modal/transaction-modal.tsx
  frontend/src/features/history/components/transaction-status/transaction-status.tsx
  frontend/src/features/swap/assets/gas.svg
  frontend/src/features/swap/assets/wallet.svg
  frontend/src/features/swap/components/amount-input/amount-input.tsx
  frontend/src/features/swap/components/amount-input/index.ts
  frontend/src/features/swap/components/balance/balance.module.scss
  frontend/src/features/swap/components/balance/balance.tsx
  frontend/src/features/swap/components/network-card/index.ts
  frontend/src/features/swap/components/network-card/network-card.module.scss
  frontend/src/features/swap/components/network-card/network-card.tsx
  frontend/src/features/swap/components/network/index.ts
  frontend/src/features/swap/components/network/network.module.scss
  frontend/src/features/swap/components/network/network.tsx
  frontend/src/features/swap/components/swap-form/swap-form.module.scss
  frontend/src/features/swap/components/swap-form/swap-form.tsx
  frontend/src/features/swap/components/swap/swap.module.scss
  frontend/src/features/swap/components/swap/swap.tsx
  frontend/src/features/swap/consts/form.ts
  frontend/src/features/swap/hooks/use-bridge.ts
  frontend/src/features/swap/hooks/use-swap-form.ts
  frontend/src/features/swap/hooks/vara/use-handle-vara-submit.ts
  frontend/src/features/swap/types/form.ts
  frontend/src/features/swap/utils.ts
  frontend/src/features/token-tracker/components/card/balance-card.module.scss
  frontend/src/features/wallet/assets/swap.svg
  frontend/src/features/wallet/components/network-wallet-field/network-wallet-field.module.scss
  frontend/src/features/wallet/components/network-wallet-field/network-wallet-field.tsx
  frontend/src/features/wallet/components/swap-network-button/swap-network-button.module.scss
  frontend/src/features/wallet/components/swap-network-button/swap-network-button.tsx
  frontend/src/features/wallet/index.ts
  frontend/src/hooks/use-eth-account-balance.ts
  frontend/src/hooks/use-vara-account-balance.ts
  frontend/src/pages/home/home.tsx
Labels: feature, frontend

#249 feat(frontend): validate account balance on transfer submit
  frontend/src/features/swap/components/submit-progress-bar/submit-progress-bar.tsx
  frontend/src/features/swap/components/swap-form/swap-form.module.scss
  frontend/src/features/swap/components/swap-form/swap-form.tsx
  frontend/src/features/swap/consts/form.ts
  frontend/src/features/swap/hooks/eth/use-approve.ts
  frontend/src/features/swap/hooks/eth/use-handle-eth-submit.ts
  frontend/src/features/swap/hooks/use-swap-form.ts
  frontend/src/features/swap/hooks/vara/use-approve.ts
  frontend/src/features/swap/hooks/vara/use-handle-vara-submit.ts
  frontend/src/features/swap/hooks/vara/use-mint.ts
  frontend/src/features/swap/hooks/vara/use-transfer.ts
  frontend/src/features/swap/types/hooks.ts
  frontend/src/features/swap/utils.ts
Labels: feature, frontend

#251 feat(frontend): add token select from token tracker modal
  frontend/src/contexts/bridge.tsx
  frontend/src/contexts/index.ts
  frontend/src/features/history/components/transaction-modal/transaction-modal.module.scss
  frontend/src/features/history/components/transaction-modal/transaction-modal.tsx
  frontend/src/features/swap/components/swap-form/swap-form.tsx
  frontend/src/features/swap/hooks/eth/use-eth-ft-allowance.ts
  frontend/src/features/swap/hooks/index.ts
  frontend/src/features/swap/hooks/use-token.ts
  frontend/src/features/swap/utils.ts
  frontend/src/features/token-tracker/components/token-tracker-modal/token-tracker-modal.tsx
  frontend/src/features/token-tracker/hooks/use-eth-ft-balances.ts
  frontend/src/features/token-tracker/hooks/use-vara-ft-balances.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/use-large-modal.ts
  frontend/src/providers.tsx
Labels: feature, frontend

#261 chore: Commit regenerated Cargo.lock
  Cargo.lock
  gear-programs/historical-proxy/app/tests/gclient.rs
Labels: refactoring

#262 feat(frontend): add SI balance formatting
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/formatted-balance/fortmatted-balance.tsx
  frontend/src/components/formatted-balance/index.ts
  frontend/src/components/index.ts
  frontend/src/components/tooltip/tooltip.module.scss
  frontend/src/components/tooltip/tooltip.tsx
  frontend/src/features/history/components/transaction-modal/transaction-modal.tsx
  frontend/src/features/history/components/transaction-pair/transaction-pair.tsx
  frontend/src/features/swap/components/account-balance/account-balance.tsx
  frontend/src/features/swap/components/balance/balance.tsx
  frontend/src/features/swap/components/ft-allowance-tip/ft-allowance-tip.tsx
  frontend/src/features/swap/components/swap-form/swap-form.tsx
  frontend/src/features/swap/hooks/eth/use-eth-ft-balance.ts
  frontend/src/features/swap/hooks/use-swap-form.ts
  frontend/src/features/swap/types/hooks.ts
  frontend/src/features/swap/utils.ts
  frontend/src/features/token-tracker/components/card/balance-card.tsx
  frontend/src/features/token-tracker/components/token-tracker-modal/token-tracker-modal.tsx
  frontend/src/features/token-tracker/components/token-tracker/token-tracker.tsx
  frontend/src/hooks/use-eth-account-balance.ts
  frontend/src/hooks/use-vara-account-balance.ts
  frontend/src/hooks/use-vara-ft-balance.ts
Labels: feature, frontend

#263 refactor(gear-programs): Refactor `bridging-payment`
  api/gear/bridging_payment.idl
  gear-programs/bridging-payment/app/src/lib.rs
  gear-programs/bridging-payment/app/src/services/error.rs
  gear-programs/bridging-payment/app/src/services/mod.rs
  gear-programs/bridging-payment/app/src/services/vft_manager_msg.rs
Labels: refactoring, gear-programs

#265 refactor(ethereum-common): Add documentation comments
  api/gear/ethereum_event_client.idl
  ethereum-common/src/base_types/byte_list.rs
  ethereum-common/src/base_types/bytes_fixed.rs
  ethereum-common/src/base_types/fixed_array.rs
  ethereum-common/src/base_types/list.rs
  ethereum-common/src/base_types/mod.rs
  ethereum-common/src/beacon/block.rs
  ethereum-common/src/beacon/block_body.rs
  ethereum-common/src/beacon/block_header.rs
  ethereum-common/src/beacon/common.rs
  ethereum-common/src/beacon/execution_payload.rs
  ethereum-common/src/beacon/light.rs
  ethereum-common/src/lib.rs
  ethereum-common/src/merkle.rs
  ethereum-common/src/utils.rs
Labels: refactoring

#264 chore(gear-programs): Add doc-comments to `wrapped-vara` program
  api/gear/wrapped_vara.idl
  gear-programs/wrapped-vara/app/src/lib.rs
  gear-programs/wrapped-vara/app/src/tokenizer_service.rs
  gear-programs/wrapped-vara/app/src/vft_funcs.rs
Labels: gear-programs

#266 refactor(ethereum-common, checkpoint_light_client): Extract `signing_root` module
  ethereum-common/src/lib.rs
  ethereum-common/src/signing_root.rs
  gear-programs/checkpoint-light-client/src/wasm/crypto.rs
  gear-programs/checkpoint-light-client/src/wasm/mod.rs
Labels: refactoring, gear-programs

#253 refactor(gear-programs): Refactor `vft-manager`
  api/gear/vft_manager.idl
  gear-programs/bridging-payment/tests/gtest.rs
  gear-programs/vft-manager/app/src/lib.rs
  gear-programs/vft-manager/app/src/services/bridge_builtin_operations.rs
  gear-programs/vft-manager/app/src/services/error.rs
  gear-programs/vft-manager/app/src/services/mod.rs
  gear-programs/vft-manager/app/src/services/msg_tracker.rs
  gear-programs/vft-manager/app/src/services/request_bridging/bridge_builtin_operations.rs
  gear-programs/vft-manager/app/src/services/request_bridging/mod.rs
  gear-programs/vft-manager/app/src/services/request_bridging/msg_tracker.rs
  gear-programs/vft-manager/app/src/services/request_bridging/token_operations.rs
  gear-programs/vft-manager/app/src/services/submit_receipt/abi.rs
  gear-programs/vft-manager/app/src/services/submit_receipt/mod.rs
  gear-programs/vft-manager/app/src/services/submit_receipt/msg_tracker.rs
  gear-programs/vft-manager/app/src/services/submit_receipt/token_operations.rs
  gear-programs/vft-manager/app/src/services/token_mapping.rs
  gear-programs/vft-manager/app/src/services/token_operations.rs
  gear-programs/vft-manager/app/src/services/utils.rs
  gear-programs/vft-manager/tests/gtest.rs
Labels: refactoring, gear-programs
