Repository gear-tech/gear-bridges, pull requests merged in 2025-09, with the labels that each got.

#587 feature(relayer): introduce HTTP handler for requesting merkle-root proofs
  relayer/src/cli/mod.rs
  relayer/src/main.rs
  relayer/src/merkle_roots/mod.rs
  relayer/src/merkle_roots/prover.rs
  relayer/src/message_relayer/common/mod.rs
  relayer/src/relay_merkle_roots.rs
  relayer/src/server.rs
Labels: feature, relayer

#592 fix(relayer): remove unecessary check for merkle-root generation
  relayer/src/merkle_roots/mod.rs
Labels: stability, relayer

#595 fix(test): Fix a failing test
  tests/src/vft_manager/mod.rs
Labels: bug

#564 refactor(relayer,gear-programs): priority bridging events & merkle-root relaying
  api/gear/bridging_payment.idl
  gear-programs/bridging-payment/app/src/services.rs
  relayer/src/cli/mod.rs
  relayer/src/merkle_roots/mod.rs
  relayer/src/merkle_roots/storage.rs
  relayer/src/message_relayer/common/gear/message_paid_event_extractor.rs
Labels: refactoring, relayer, gear-programs

#614 chore(ethereum): remove double hashing from contracts
  api/ethereum/BridgingPayment.json
  api/ethereum/ERC20Manager.json
  api/ethereum/IBridgingPayment.json
  api/ethereum/IERC20Manager.json
  api/ethereum/IMessageQueue.json
  api/ethereum/MessageQueue.json
  api/ethereum/WrappedEther.json
  ethereum/src/BridgingPayment.sol
  ethereum/src/interfaces/IMessageQueue.sol
Labels: ethereum-contracts

#610 refactor(relayer): make HTTP handler force generate proofs for specified blocks
  relayer/src/merkle_roots/mod.rs
Labels: relayer, tooling

#618 feat(frontend): improve manual relay ux
  js/frontend/src/features/swap/components/pay-vara-fee-button/pay-vara-fee-button.tsx
  js/frontend/src/features/swap/components/relay-tx-button/relay-tx-button.tsx
  js/frontend/src/features/swap/components/relay-tx-button/relay-tx-note.module.scss
  js/frontend/src/features/swap/components/relay-tx-button/relay-tx-note.tsx
  js/frontend/src/pages/transaction/transaction-skeleton.tsx
  js/frontend/src/pages/transaction/transaction.module.scss
  js/frontend/src/pages/transaction/transaction.tsx
Labels: feature, frontend

#608 fix(ethereum): reset `isChallengingRoot` status on `emergencyStop`, add more tests
  api/ethereum/BridgingPayment.json
  api/ethereum/ERC20Manager.json
  api/ethereum/IBridgingPayment.json
  api/ethereum/IERC20Manager.json
  api/ethereum/IMessageQueue.json
  api/ethereum/MessageQueue.json
  api/ethereum/WrappedEther.json
  ethereum/src/MessageQueue.sol
  ethereum/src/interfaces/IMessageQueue.sol
  ethereum/test/Base.sol
  ethereum/test/ERC20Manager.t.sol
  ethereum/test/GovernanceAdmin.t.sol
  ethereum/test/GovernancePauser.t.sol
  ethereum/test/MessageQueue.t.sol
Labels: ethereum-contracts

#622 refactor(vft, vft-vara): Adjust tokens names & etc
  Cargo.lock
  api/gear/vft_vara.idl
  gear-programs/vft-vara/app/src/lib.rs
  tests/src/vft_manager/gtest.rs
  tests/src/vft_manager/mod.rs
  tools/deploy-to-gear/Cargo.toml
  tools/deploy-to-gear/src/main.rs
Labels: refactoring, gear-programs

#624 feat(ethereum): add `disableChallengeRoot` method for `emergencyStopAdmin`
  api/ethereum/BridgingPayment.json
  api/ethereum/ERC20Manager.json
  api/ethereum/IBridgingPayment.json
  api/ethereum/IERC20Manager.json
  api/ethereum/IMessageQueue.json
  api/ethereum/MessageQueue.json
  api/ethereum/WrappedEther.json
  ethereum/src/MessageQueue.sol
  ethereum/src/interfaces/IMessageQueue.sol
  ethereum/test/MessageQueue.t.sol
Labels: ethereum-contracts

#625 chore(ethereum): remove `maxBlockNumber` from `event MerkleRoot(...)`
  api/ethereum/BridgingPayment.json
  api/ethereum/ERC20Manager.json
  api/ethereum/IBridgingPayment.json
  api/ethereum/IERC20Manager.json
  api/ethereum/IMessageQueue.json
  api/ethereum/MessageQueue.json
  api/ethereum/WrappedEther.json
  ethereum/src/MessageQueue.sol
  ethereum/src/interfaces/IMessageQueue.sol
  ethereum/test/Base.sol
  ethereum/test/ERC20Manager.t.sol
  ethereum/test/GovernanceAdmin.t.sol
  ethereum/test/GovernancePauser.t.sol
  ethereum/test/MessageQueue.t.sol
Labels: ethereum-contracts

#626 feat(ethereum): add `allowMessageProcessing` during `emergencyStop`
  api/ethereum/BridgingPayment.json
  api/ethereum/ERC20Manager.json
  api/ethereum/IBridgingPayment.json
  api/ethereum/IERC20Manager.json
  api/ethereum/IMessageQueue.json
  api/ethereum/MessageQueue.json
  api/ethereum/WrappedEther.json
  ethereum/src/MessageQueue.sol
  ethereum/src/interfaces/IMessageQueue.sol
  ethereum/test/MessageQueue.t.sol
Labels: ethereum-contracts

#627 feat(ethereum): add `script/upgrades/*` to deploy new implementations
  api/ethereum/BridgingPayment.json
  api/ethereum/ERC20Manager.json
  api/ethereum/IBridgingPayment.json
  api/ethereum/IERC20Manager.json
  api/ethereum/IMessageQueue.json
  api/ethereum/MessageQueue.json
  api/ethereum/WrappedEther.json
  ethereum/.env.example
  ethereum/README.md
  ethereum/script/upgrades/ERC20Manager.s.sol
  ethereum/script/upgrades/MessageQueue.s.sol
  ethereum/script/upgrades/Verifier.s.sol
  ethereum/src/ERC20Manager.sol
  ethereum/src/MessageQueue.sol
Labels: ethereum-contracts, tooling

#631 feat(ethereum, tools): make `WrappedVara` contract upgradable
  api/ethereum/BridgingPayment.json
  api/ethereum/ERC20Manager.json
  api/ethereum/IBridgingPayment.json
  api/ethereum/IERC20Manager.json
  api/ethereum/IMessageQueue.json
  api/ethereum/MessageQueue.json
  api/ethereum/WrappedEther.json
  ethereum/README.md
  ethereum/src/GovernanceAdmin.sol
  ethereum/src/GovernancePauser.sol
  ethereum/src/erc20/WrappedVara.sol
  ethereum/src/interfaces/IGovernance.sol
  ethereum/test/Base.sol
  ethereum/test/erc20/WrappedVara.t.sol
  tools/governance/deployment.toml
  tools/governance/src/cli.rs
  tools/governance/src/main.rs
Labels: ethereum-contracts, tooling

#641 refactor(relayer): add more trace logs to gear-eth relayer
  relayer/src/message_relayer/common/ethereum/accumulator/mod.rs
  relayer/src/message_relayer/common/ethereum/accumulator/utils.rs
  relayer/src/message_relayer/common/gear/message_data_extractor.rs
Labels: relayer

#645 feat(ethereum): add fork testing support
  ethereum/.env.example
  ethereum/test/Base.sol
Labels: ethereum-contracts, tooling

#648 fix(ethereum): reset `challengingRootTimestamp` only if needed
  api/ethereum/BridgingPayment.json
  api/ethereum/ERC20Manager.json
  api/ethereum/IBridgingPayment.json
  api/ethereum/IERC20Manager.json
  api/ethereum/IMessageQueue.json
  api/ethereum/MessageQueue.json
  api/ethereum/WrappedEther.json
  ethereum/src/MessageQueue.sol
  ethereum/test/MessageQueue.t.sol
Labels: ethereum-contracts
