Repository gear-tech/gear-bridges, pull requests merged in 2025-04, with the labels that each got.

#303 feat(vft-manager): Upgradeability
  api/gear/vft_manager.idl
  gear-programs/vft-manager/app/src/services/mod.rs
  gear-programs/vft-manager/app/tests/gclient.rs
Labels: feature, gear-programs

#280 refactor(bridging-payment): New approach for bridging payments
  Cargo.lock
  api/gear/bridging_payment.idl
  api/gear/vft_manager.idl
  ethereum/script/DeployMockERC20.s.sol
  gear-programs/bridging-payment/Cargo.toml
  gear-programs/bridging-payment/README.md
  gear-programs/bridging-payment/app/Cargo.toml
  gear-programs/bridging-payment/app/src/lib.rs
  gear-programs/bridging-payment/app/src/services.rs
  gear-programs/bridging-payment/app/src/services/error.rs
  gear-programs/bridging-payment/app/src/services/mod.rs
  gear-programs/bridging-payment/app/src/services/vft_manager_msg.rs
  gear-programs/bridging-payment/app/tests/gclient.rs
  gear-programs/bridging-payment/tests/gtest.rs
  gear-programs/vft-manager/app/src/services/mod.rs
  relayer/src/message_relayer/common/gear/message_paid_event_extractor.rs
Labels: stability, refactoring, dontmerge, gear-programs, api-breaking

#307 refactor(ethereum-events): Add support of Deneb blocks
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  README.md
  api/gear/eth_events_deneb.idl
  api/gear/eth_events_electra.idl
  api/gear/historical_proxy.idl
  gear-programs/eth-events-common/Cargo.toml
  gear-programs/eth-events-common/src/lib.rs
  gear-programs/eth-events-deneb/Cargo.toml
  gear-programs/eth-events-deneb/README.md
  gear-programs/eth-events-deneb/app/Cargo.toml
  gear-programs/eth-events-deneb/app/src/lib.rs
  gear-programs/eth-events-deneb/build.rs
  gear-programs/eth-events-deneb/client/Cargo.toml
  gear-programs/eth-events-deneb/client/build.rs
  gear-programs/eth-events-deneb/client/src/lib.rs
  gear-programs/eth-events-deneb/src/lib.rs
  gear-programs/eth-events-electra/Cargo.toml
  gear-programs/eth-events-electra/README.md
  gear-programs/eth-events-electra/app/Cargo.toml
  gear-programs/eth-events-electra/app/src/lib.rs
  gear-programs/eth-events-electra/build.rs
  gear-programs/eth-events-electra/client/Cargo.toml
  gear-programs/eth-events-electra/client/build.rs
  gear-programs/eth-events-electra/client/src/lib.rs
  gear-programs/eth-events-electra/src/lib.rs
  gear-programs/ethereum-event-client/README.md
  gear-programs/ethereum-event-client/app/Cargo.toml
  gear-programs/ethereum-event-client/app/build.rs
  gear-programs/ethereum-event-client/app/src/error.rs
  gear-programs/ethereum-event-client/app/src/lib.rs
  gear-programs/ethereum-event-client/app/src/service.rs
  gear-programs/ethereum-event-client/client/src/lib.rs
  gear-programs/historical-proxy/app/Cargo.toml
  gear-programs/historical-proxy/app/build.rs
  gear-programs/historical-proxy/app/src/error.rs
  gear-programs/historical-proxy/app/src/service.rs
  gear-programs/historical-proxy/app/tests/gclient.rs
  gear-programs/historical-proxy/app/tests/headers/holesky-block-2_498_456.json
  gear-programs/historical-proxy/app/tests/headers/holesky-header-2_498_457.json
  gear-programs/historical-proxy/app/tests/headers/holesky-header-2_498_458.json
  gear-programs/historical-proxy/app/tests/headers/holesky-header-2_498_459.json
  gear-programs/historical-proxy/app/tests/headers/holesky-header-2_498_460.json
  gear-programs/historical-proxy/app/tests/headers/holesky-header-2_498_461.json
  gear-programs/historical-proxy/app/tests/headers/holesky-header-2_498_462.json
  gear-programs/historical-proxy/app/tests/headers/holesky-header-2_498_463.json
  gear-programs/historical-proxy/app/tests/headers/holesky-header-2_498_464.json
  gear-programs/historical-proxy/app/tests/headers/holesky-receipts-2_498_456.json
  gear-programs/historical-proxy/app/tests/shared.rs
  relayer/Cargo.toml
  relayer/src/message_relayer/common/gear/message_sender/compose_payload.rs
Labels: feature, refactoring, gear-programs

#302 refactor(relayer): use proper async in relayer
  Cargo.lock
  ethereum/client/src/lib.rs
  ethereum_beacon_client/src/lib.rs
  relayer/Cargo.toml
  relayer/src/main.rs
  relayer/src/message_relayer/common/ethereum/block_listener.rs
  relayer/src/message_relayer/common/ethereum/deposit_event_extractor.rs
  relayer/src/message_relayer/common/ethereum/merkle_root_extractor.rs
  relayer/src/message_relayer/common/ethereum/message_paid_event_extractor.rs
  relayer/src/message_relayer/common/ethereum/message_sender/mod.rs
  relayer/src/message_relayer/common/gear/block_listener.rs
  relayer/src/message_relayer/common/gear/checkpoints_extractor.rs
  relayer/src/message_relayer/common/gear/message_paid_event_extractor.rs
  relayer/src/message_relayer/common/gear/message_queued_event_extractor.rs
  relayer/src/message_relayer/common/gear/message_sender/mod.rs
  relayer/src/message_relayer/common/paid_messages_filter.rs
  relayer/src/message_relayer/eth_to_gear/all_token_transfers.rs
  relayer/src/message_relayer/eth_to_gear/manual.rs
  relayer/src/message_relayer/eth_to_gear/paid_token_transfers.rs
  relayer/src/message_relayer/gear_to_eth/all_token_transfers.rs
  relayer/src/message_relayer/gear_to_eth/manual.rs
  relayer/src/message_relayer/gear_to_eth/paid_token_transfers.rs
Labels: refactoring, relayer

#313 feat(ethereum-common): Add Electra fork activation time for the Mainnet
  ethereum-common/src/network.rs
Labels: feature, gear-programs

#310 feat(vft-manager): Add fees for incoming bridge requests and pay fee to the bridge-builtin
  api/gear/vft_manager.idl
  gear-programs/vft-manager/app/src/services/mod.rs
  gear-programs/vft-manager/app/src/services/request_bridging/bridge_builtin_operations.rs
  gear-programs/vft-manager/app/tests/gclient.rs
  gear-programs/vft-manager/tests/gtest.rs
Labels: feature, gear-programs

#318 refactor(vft-manager): Add supply type to the events
  api/gear/vft_manager.idl
  gear-programs/vft-manager/app/src/services/mod.rs
  gear-programs/vft-manager/app/src/services/token_mapping.rs
Labels: refactoring, gear-programs

#316 feat(ethereum-contracts): Introduce `EthereumToken`
  .github/workflows/ci.yml
  api/ethereum/ERC20ManagerBridgingPayment.json
  api/ethereum/EthereumToken.json
  api/ethereum/IERC20Manager.json
  api/ethereum/IMessageQueue.json
  ethereum/script/DeployEthereumToken.s.sol
  ethereum/script/DeployWrappedVara.s.sol
  ethereum/src/ERC20Manager.sol
  ethereum/src/erc20/ERC20GearSupply.sol
  ethereum/src/erc20/EthereumToken.sol
  ethereum/src/erc20/WrappedVara.sol
  ethereum/test/ERC20Manager.t.sol
  ethereum/test/EthereumToken.t.sol
Labels: feature, ethereum-contracts

#320 refactor(historical proxy): Add method to update admin
  api/gear/eth_events_deneb.idl
  api/gear/eth_events_electra.idl
  api/gear/historical_proxy.idl
  gear-programs/eth-events-common/src/lib.rs
  gear-programs/eth-events-deneb/app/src/lib.rs
  gear-programs/eth-events-electra/app/src/lib.rs
  gear-programs/historical-proxy/app/src/service.rs
  gear-programs/historical-proxy/app/tests/gclient.rs
Labels: refactoring, gear-programs

#304 feat(vft-manager): Support upgradeable vfts
  api/gear/vft_manager.idl
  gear-programs/vft-manager/app/src/services/mod.rs
  gear-programs/vft-manager/app/src/services/token_mapping.rs
  gear-programs/vft-manager/app/tests/gclient.rs
  gear-programs/vft-manager/tests/gtest.rs
Labels: feature, gear-programs

#324 feat: Integrate new VFT program & update sails to 0.7
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  api/gear/extended_vft.idl
  api/gear/vft.idl
  api/gear/vft_manager.idl
  api/gear/vft_vara.idl
  api/gear/wrapped_vara.idl
  gear-programs/bridging-payment/app/src/services.rs
  gear-programs/checkpoint-light-client/app/src/lib.rs
  gear-programs/vft-manager/Cargo.toml
  gear-programs/vft-manager/app/Cargo.toml
  gear-programs/vft-manager/app/src/services/error.rs
  gear-programs/vft-manager/app/src/services/mod.rs
  gear-programs/vft-manager/app/src/services/request_bridging/msg_tracker.rs
  gear-programs/vft-manager/app/src/services/request_bridging/token_operations.rs
  gear-programs/vft-manager/app/src/services/submit_receipt/mod.rs
  gear-programs/vft-manager/app/src/services/submit_receipt/token_operations.rs
  gear-programs/vft-manager/app/src/services/token_mapping.rs
  gear-programs/vft-manager/app/tests/gclient.rs
  gear-programs/vft-manager/tests/gtest.rs
  gear-programs/vft-manager/vft_manager.idl
  gear-programs/vft-service/Cargo.toml
  gear-programs/vft-service/src/funcs.rs
  gear-programs/vft-service/src/lib.rs
  gear-programs/vft-service/src/utils.rs
  gear-programs/vft-vara/Cargo.toml
  gear-programs/vft-vara/README.md
  gear-programs/vft-vara/app/Cargo.toml
  gear-programs/vft-vara/app/src/lib.rs
  gear-programs/vft-vara/build.rs
  gear-programs/vft-vara/client/Cargo.toml
  gear-programs/vft-vara/client/build.rs
  gear-programs/vft-vara/client/src/lib.rs
  gear-programs/vft-vara/src/lib.rs
  gear-programs/vft/Cargo.toml
  gear-programs/vft/README.md
  gear-programs/vft/app/Cargo.toml
  gear-programs/vft/app/src/lib.rs
  gear-programs/vft/build.rs
  gear-programs/vft/client/Cargo.toml
  gear-programs/vft/client/build.rs
  gear-programs/vft/client/src/lib.rs
  gear-programs/vft/src/lib.rs
  gear-programs/wrapped-vara/Cargo.toml
  gear-programs/wrapped-vara/README.md
  gear-programs/wrapped-vara/app/Cargo.toml
  gear-programs/wrapped-vara/app/src/lib.rs
  gear-programs/wrapped-vara/app/src/tokenizer_service.rs
  gear-programs/wrapped-vara/app/src/vft_funcs.rs
  gear-programs/wrapped-vara/tests/gclient.rs
  gear-programs/wrapped-vara/tests/gtest.rs
  gear-rpc-client/src/lib.rs
  tools/deploy-to-gear/Cargo.toml
  tools/deploy-to-gear/src/main.rs
Labels: feature, refactoring, gear-programs

#328 fix(relayer): Skip reply route before decoding the reply in checkpoints extractor
  relayer/src/message_relayer/common/gear/checkpoints_extractor.rs
Labels: bug, relayer

#329 chore(ci): update gear node from 1.6.2 to 1.7.1
  .github/workflows/ci.yml
Labels: stability, tooling

#336 fix(contracts): bridging-payment
  .github/workflows/ci.yml
  Cargo.lock
  api/ethereum/ERC20ManagerBridgingPayment.json
  api/ethereum/EthereumToken.json
  api/ethereum/IBridgingPayment.json
  api/ethereum/IERC20Manager.json
  api/ethereum/IMessageQueue.json
  ethereum/foundry.toml
  ethereum/script/DeployTokenBridge.s.sol
  ethereum/src/BridgingPayment.sol
  ethereum/src/ERC20Manager.sol
  ethereum/src/interfaces/IBridgingPayment.sol
  ethereum/test/BridgingPayment.t.sol
Labels: bug, ethereum-contracts, api-breaking

#333 feat(tools): use random salt or one passed through CLI
  tools/deploy-to-gear/src/main.rs
Labels: tooling

#340 fix(api): Add ethereum/ERC20Manager.json
  .github/workflows/ci.yml
  api/ethereum/ERC20Manager.json
Labels: backlog, ethereum-contracts

#335 refactor(tools): add allocate-shards, rearrange minter/burner arguments
  tools/deploy-to-gear/src/main.rs
Labels: refactoring, tooling

#344 feat(relayer): Add ApiProvider for GearApi
  Cargo.lock
  gear-rpc-client/src/lib.rs
  relayer/Cargo.toml
  relayer/src/main.rs
  relayer/src/message_relayer/common/gear/block_listener.rs
  relayer/src/message_relayer/common/gear/checkpoints_extractor.rs
  relayer/src/message_relayer/common/gear/message_sender/mod.rs
  relayer/src/message_relayer/eth_to_gear/all_token_transfers.rs
  relayer/src/message_relayer/eth_to_gear/api_provider.rs
  relayer/src/message_relayer/eth_to_gear/manual.rs
  relayer/src/message_relayer/eth_to_gear/mod.rs
  relayer/src/message_relayer/eth_to_gear/paid_token_transfers.rs
  relayer/src/message_relayer/gear_to_eth/all_token_transfers.rs
  relayer/src/message_relayer/gear_to_eth/paid_token_transfers.rs
Labels: relayer

#347 chore(ci): update from node 1.7.1 to 1.8.0
  .github/workflows/ci.yml
  gear-programs/checkpoint-light-client/app/tests/gclient.rs
  gear-programs/historical-proxy/app/tests/gclient.rs
  gear-programs/vft-manager/app/tests/gclient.rs
Labels: stability

#346 fix(relayer): Decode U256 from hex string
  relayer/src/main.rs
  relayer/src/message_relayer/gear_to_eth/manual.rs
Labels: bug, relayer

#349 fix(relayer): Use asynchronous recv method instead of try_recv
  relayer/src/message_relayer/common/ethereum/deposit_event_extractor.rs
  relayer/src/message_relayer/common/ethereum/merkle_root_extractor.rs
  relayer/src/message_relayer/common/ethereum/message_paid_event_extractor.rs
  relayer/src/message_relayer/common/ethereum/message_sender/mod.rs
  relayer/src/message_relayer/common/gear/checkpoints_extractor.rs
  relayer/src/message_relayer/common/gear/message_paid_event_extractor.rs
  relayer/src/message_relayer/common/gear/message_queued_event_extractor.rs
  relayer/src/message_relayer/common/gear/message_sender/mod.rs
  relayer/src/message_relayer/common/paid_messages_filter.rs
  relayer/src/message_relayer/eth_to_gear/api_provider.rs
Labels: bug, relayer

#352 fix(frontend): `My Transactions` filter for Ethereum wallets
  frontend/src/features/history/hooks/use-transaction-filters.ts
Labels: bug, frontend

#353 fix(frontend): Display locked Ethereum balance tooltip
  frontend/src/features/token-tracker/components/locked-balance-tooltip/locked-balance-tooltip.tsx
Labels: bug, frontend

#354 feat(frontend): Add Vara testnet symbol display
  frontend/src/components/fee-and-time-footer/fee-and-time-footer.tsx
  frontend/src/features/history/components/transaction-modal/transaction-modal.tsx
  frontend/src/features/swap/components/account-balance/account-balance.module.scss
  frontend/src/features/swap/components/account-balance/account-balance.tsx
  frontend/src/features/swap/components/account-balance/index.ts
  frontend/src/features/swap/components/swap-form/swap-form.tsx
  frontend/src/features/swap/hooks/vara/use-handle-vara-submit.ts
  frontend/src/features/token-tracker/components/tokens-card/tokens-card.tsx
  frontend/src/features/wallet/components/wallet/wallet.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/use-vara-symbol.ts
Labels: feature, frontend

#356 fix(relayer): Set the current api provider session in the response
  relayer/src/message_relayer/eth_to_gear/api_provider.rs
Labels: bug, relayer

#355 fix(frontend): Handle insufficient gas errors, validate calculated gas for `mint` and `approve`, revert merged balances
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/fee-and-time-footer/fee-and-time-footer.tsx
  frontend/src/consts/index.ts
  frontend/src/consts/sails/vft-manager.ts
  frontend/src/consts/sails/vft-vara.ts
  frontend/src/consts/sails/vft.ts
  frontend/src/features/history/components/transaction-modal/transaction-modal.tsx
  frontend/src/features/swap/assets/danger.svg
  frontend/src/features/swap/assets/wallet.svg
  frontend/src/features/swap/components/select-token/select-token.tsx
  frontend/src/features/swap/components/submit-tooltip/submit-tooltip.tsx
  frontend/src/features/swap/components/swap-form/swap-form.module.scss
  frontend/src/features/swap/components/swap-form/swap-form.tsx
  frontend/src/features/swap/consts/sails/bridging-payment.ts
  frontend/src/features/swap/context.tsx
  frontend/src/features/swap/hooks/eth/use-approve.ts
  frontend/src/features/swap/hooks/eth/use-handle-eth-submit.ts
  frontend/src/features/swap/hooks/eth/use-mint.ts
  frontend/src/features/swap/hooks/use-swap-form.ts
  frontend/src/features/swap/hooks/vara/use-approve.ts
  frontend/src/features/swap/hooks/vara/use-handle-vara-submit.ts
  frontend/src/features/swap/hooks/vara/use-mint.ts
  frontend/src/features/swap/hooks/vara/use-pay-fee.ts
  frontend/src/features/swap/hooks/vara/use-prepare-approve.ts
  frontend/src/features/swap/hooks/vara/use-prepare-mint.ts
  frontend/src/features/swap/hooks/vara/use-prepare-request-bridging.ts
  frontend/src/features/swap/hooks/vara/use-request-bridging.ts
  frontend/src/features/swap/hooks/vara/use-sign-and-send.ts
  frontend/src/features/swap/hooks/vara/use-vara-ft-allowance.ts
  frontend/src/features/swap/types/hooks.ts
  frontend/src/features/swap/utils.ts
  frontend/src/features/token-tracker/hooks/use-burn-vara-tokens.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/tokens/use-ft-addresses.ts
  frontend/src/hooks/use-vara-ft-balance.ts
  frontend/src/hooks/use-vft-manager-program.ts
  frontend/src/hooks/use-vft-program.ts
  frontend/src/hooks/use-wrapped-vara-program.ts
  frontend/src/test.json
  frontend/src/utils.ts
Labels: feature, frontend

#359 refactor(relayer): use ApiProvider to acquire GearApi instances
  relayer/src/kill_switch.rs
  relayer/src/kill_switch/block_finality_archiver.rs
  relayer/src/main.rs
  relayer/src/message_relayer/common/ethereum/merkle_root_extractor.rs
  relayer/src/message_relayer/common/ethereum/message_sender/mod.rs
  relayer/src/message_relayer/common/gear/message_paid_event_extractor.rs
  relayer/src/message_relayer/common/gear/message_queued_event_extractor.rs
  relayer/src/message_relayer/gear_to_eth/all_token_transfers.rs
  relayer/src/message_relayer/gear_to_eth/manual.rs
  relayer/src/message_relayer/gear_to_eth/paid_token_transfers.rs
  relayer/src/relay_merkle_roots.rs
Labels: stability, refactoring, relayer
