Repository gear-tech/gear-bridges, pull requests merged in 2025-03, with the labels that each got.

#281 feat(vft-manager): Add pause functionality
  Cargo.lock
  Cargo.toml
  api/gear/vft_manager.idl
  gear-programs/vft-manager/app/src/services/error.rs
  gear-programs/vft-manager/app/src/services/mod.rs
  gear-programs/vft-manager/tests/gtest.rs
Labels: api-breaking

#282 fix(cd): Explicitly install rust toolchain
  Dockerfile
Labels: refactoring

#293 refactor(vft-manager): Add new getters
  api/gear/vft_manager.idl
  gear-programs/vft-manager/Cargo.toml
  gear-programs/vft-manager/app/Cargo.toml
  gear-programs/vft-manager/app/src/lib.rs
  gear-programs/vft-manager/app/src/services/mod.rs
  gear-programs/vft-manager/app/src/services/request_bridging/mod.rs
  gear-programs/vft-manager/app/src/services/request_bridging/msg_tracker.rs
  gear-programs/vft-manager/app/src/services/submit_receipt/mod.rs
  gear-programs/vft-manager/app/tests/gclient.rs
Labels: refactoring, gear-programs

#283 refactor(prover): Address `TODO`s in the code
  prover/src/block_finality/validator_set_hash.rs
  prover/src/block_finality/validator_signs_chain/mod.rs
  prover/src/common/generic_blake2.rs
  prover/src/storage_inclusion/block_header_parser.rs
  prover/src/storage_inclusion/mod.rs
  prover/src/storage_inclusion/storage_trie_proof/branch_node_chain.rs
  prover/src/storage_inclusion/storage_trie_proof/hashed_branch_parser.rs
  prover/src/storage_inclusion/storage_trie_proof/hashed_leaf_parser.rs
  prover/src/storage_inclusion/storage_trie_proof/mod.rs
  prover/src/storage_inclusion/storage_trie_proof/node_parser/branch_parser/child_node_array_parser/child_node_parser.rs
  prover/src/storage_inclusion/storage_trie_proof/node_parser/branch_parser/child_node_array_parser/mod.rs
  prover/src/storage_inclusion/storage_trie_proof/node_parser/branch_parser/mod.rs
  prover/src/storage_inclusion/storage_trie_proof/node_parser/leaf_parser/hashed_data_parser.rs
  prover/src/storage_inclusion/storage_trie_proof/node_parser/leaf_parser/inlined_data_parser.rs
  prover/src/storage_inclusion/storage_trie_proof/node_parser/leaf_parser/mod.rs
  prover/src/storage_inclusion/storage_trie_proof/node_parser/mod.rs
  prover/src/storage_inclusion/storage_trie_proof/node_parser/nibble_parser.rs
  prover/src/storage_inclusion/storage_trie_proof/storage_address.rs
Labels: refactoring

#300 feat(ethereum-common, deploy-checkpoints): Add support of the Hoodi testnet
  ethereum-common/src/network.rs
  tools/deploy-checkpoints/src/main.rs
Labels: feature, gear-programs

#298 chore(frontend): Upgrade `react` to `v19`
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/history/components/transaction-modal/transaction-modal.tsx
  frontend/src/features/history/consts/filters.ts
  frontend/src/features/history/hooks/use-transaction-filters.ts
  frontend/src/features/swap/components/swap-form/swap-eth-form.tsx
  frontend/src/features/swap/components/swap-form/swap-form.tsx
  frontend/src/features/swap/components/swap-form/swap-vara-form.tsx
  frontend/src/features/swap/hooks/use-swap-form.ts
  frontend/src/features/wallet/components/swap-network-button/swap-network-button.tsx
  frontend/src/features/wallet/components/wallet-modal/wallet-modal.tsx
  frontend/src/providers.tsx
Labels: frontend

#299 chore(frontend): Migrate to `@reown/appkit`
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/wallet/components/network-wallet-field/network-wallet-field.tsx
  frontend/src/features/wallet/components/network-wallet-modal/network-wallet-modal.tsx
  frontend/src/features/wallet/components/swap-network-button/swap-network-button.tsx
  frontend/src/providers.tsx
Labels: frontend

#296 feat(ethereum-event-client): Support Pectra upgrade of Ethereum
  api/gear/ethereum_event_client.idl
  ethereum-common/src/beacon/block.rs
  ethereum-common/src/beacon/block_body.rs
  ethereum-common/src/beacon/common.rs
  ethereum-common/src/beacon/light.rs
  ethereum-common/src/beacon/mod.rs
  ethereum-common/src/lib.rs
  ethereum-common/src/utils.rs
  ethereum_beacon_client/src/lib.rs
  gear-programs/ethereum-event-client/app/src/service.rs
  gear-programs/ethereum-event-client/client/build.rs
  gear-programs/historical-proxy/app/build.rs
  gear-programs/historical-proxy/app/tests/gclient.rs
  gear-programs/historical-proxy/app/tests/headers/holesky-block-2_498_456.json
  gear-programs/historical-proxy/app/tests/headers/holesky-header-2_498_457.json
  gear-programs/historical-proxy/app/tests/headers/holesky-header-2_498_458.json
  gear-programs/historical-proxy/app/tests/headers/holesky-header-2_498_459.json
  gear-programs/historical-proxy/app/tests/headers/holesky-header-2_498_460.json
  gear-programs/historical-proxy/app/tests/headers/holesky-header-2_498_461.json
  gear-programs/historical-proxy/app/tests/headers/holesky-header-2_498_462.json
  gear-programs/historical-proxy/app/tests/headers/holesky-header-2_498_463.json
  gear-programs/historical-proxy/app/tests/headers/holesky-header-2_498_464.json
  gear-programs/historical-proxy/app/tests/headers/holesky-receipts-2_498_456.json
  gear-programs/historical-proxy/app/tests/shared.rs
  relayer/src/message_relayer/common/ethereum/mod.rs
  relayer/src/message_relayer/common/gear/message_sender/compose_payload.rs
Labels: feature, refactoring, gear-programs
