Repository gear-tech/gear-bridges, pull requests merged in 2025-07, with the labels that each got.

#503 refactor(relayer): Increase max_priority_fee_per_gas/max_fee_per_gas for gear-eth
  ethereum/client/src/lib.rs
  relayer/src/message_relayer/common/gear/message_paid_event_extractor.rs
  relayer/src/message_relayer/common/gear/message_queued_event_extractor.rs
Labels: bug, refactoring, optimization, relayer

#499 refactor(frontend): Remove locked balance heading
  frontend/src/context/tokens.tsx
  frontend/src/features/swap/components/select-token/select-token.tsx
  frontend/src/features/swap/components/swap-form/swap-form.tsx
  frontend/src/features/swap/components/token/token.tsx
  frontend/src/features/token-tracker/components/balance-card/balance-card.module.scss
  frontend/src/features/token-tracker/components/balance-card/balance-card.tsx
  frontend/src/features/token-tracker/components/tokens-card/tokens-card.module.scss
  frontend/src/features/token-tracker/components/tokens-card/tokens-card.tsx
Labels: refactoring, frontend

#484 refactor(relayer): introduce unit tests for eth->gear relayer
  Cargo.lock
  Cargo.toml
  ethereum-common/Cargo.toml
  ethereum-common/src/utils.rs
  mock-contract/Cargo.toml
  mock-contract/README.md
  mock-contract/build.rs
  mock-contract/src/lib.rs
  mock-contract/src/wasm.rs
  relayer/src/lib.rs
  relayer/src/main.rs
  relayer/src/message_relayer/common/ethereum/accumulator/mod.rs
  relayer/src/message_relayer/common/paid_messages_filter.rs
  relayer/src/message_relayer/eth_to_gear/message_sender.rs
  relayer/src/message_relayer/eth_to_gear/paid_token_transfers.rs
  relayer/src/message_relayer/eth_to_gear/proof_composer.rs
  relayer/src/message_relayer/eth_to_gear/storage.rs
  relayer/src/message_relayer/eth_to_gear/tx_manager.rs
  tests/Cargo.toml
  tests/src/lib.rs
  tests/src/relayer/eth_event_extractor.rs
  tests/src/relayer/eth_to_gear.rs
  tests/src/relayer/mod.rs
  tests/src/relayer/transactions.json.zst
  tests/src/relayer/upload.rs
Labels: refactoring, relayer

#510 refactor(relayer): Send latest checkpoint from light-client program on startup
  relayer/src/message_relayer/common/gear/checkpoints_extractor.rs
  relayer/src/message_relayer/eth_to_gear/all_token_transfers.rs
  relayer/src/message_relayer/eth_to_gear/manual.rs
  relayer/src/message_relayer/eth_to_gear/mod.rs
  relayer/src/message_relayer/eth_to_gear/paid_token_transfers.rs
  tests/src/relayer/eth_to_gear.rs
Labels: refactoring, optimization, relayer

#515 fix(relayer): prevent PaidMessageFilter from looping infinitely
  relayer/src/message_relayer/common/paid_messages_filter.rs
Labels: stability, relayer

#524 feat(relayer): Add POST-handler of a list to gear-eth
  Cargo.lock
  Cargo.toml
  gear-rpc-client/src/lib.rs
  relayer/Cargo.toml
  relayer/src/cli/mod.rs
  relayer/src/lib.rs
  relayer/src/main.rs
  relayer/src/message_relayer/common/ethereum/accumulator/mod.rs
  relayer/src/message_relayer/common/ethereum/accumulator/utils.rs
  relayer/src/message_relayer/common/ethereum/merkle_root_extractor.rs
  relayer/src/message_relayer/common/gear/block_listener.rs
  relayer/src/message_relayer/common/gear/checkpoints_extractor.rs
  relayer/src/message_relayer/common/gear/message_data_extractor.rs
  relayer/src/message_relayer/common/gear/message_paid_event_extractor.rs
  relayer/src/message_relayer/common/gear/message_queued_event_extractor.rs
  relayer/src/message_relayer/common/gear/mod.rs
  relayer/src/message_relayer/common/mod.rs
  relayer/src/message_relayer/common/paid_messages_filter.rs
  relayer/src/message_relayer/eth_to_gear/api_provider.rs
  relayer/src/message_relayer/gear_to_eth/all_token_transfers.rs
  relayer/src/message_relayer/gear_to_eth/manual.rs
  relayer/src/message_relayer/gear_to_eth/paid_token_transfers.rs
  relayer/src/relay_merkle_roots.rs
  relayer/src/server.rs
Labels: feature, refactoring, relayer

#530 fix(relayer): exit MessageQueueEventExtractor if channel is closed
  relayer/src/message_relayer/common/gear/message_queued_event_extractor.rs
Labels: bug, stability, relayer

#531 fix(relayer): spawn relayer with at least 4 blocking threads, revert to spawn_blocking
  relayer/src/main.rs
  relayer/src/merkle_roots/authority_set_sync.rs
  relayer/src/merkle_roots/prover.rs
Labels: bug, stability, relayer

#532 refactor(relayer): Make merkle-root relayer more lazy
  relayer/src/cli/mod.rs
  relayer/src/common.rs
  relayer/src/main.rs
  relayer/src/merkle_roots/authority_set_sync.rs
  relayer/src/merkle_roots/eras.rs
  relayer/src/merkle_roots/mod.rs
  relayer/src/merkle_roots/prover.rs
  relayer/src/merkle_roots/storage.rs
  relayer/src/merkle_roots/submitter.rs
  relayer/src/message_relayer/common/gear/block_listener.rs
  relayer/src/message_relayer/common/mod.rs
  relayer/src/prover_interface.rs
Labels: bug, stability, refactoring, relayer

#537 feat(relayer): Decode Ethereum contract errors
  ethereum/client/src/abi.rs
  ethereum/client/src/error.rs
  ethereum/client/src/lib.rs
Labels: feature, relayer

#547 chore(ethereum): fix `forge lint` & `ERC20GearSupply` verification on etherscan
  api/ethereum/BridgingPayment.json
  api/ethereum/ERC20Manager.json
  api/ethereum/IBridgingPayment.json
  api/ethereum/IERC20Manager.json
  api/ethereum/IMessageQueue.json
  api/ethereum/MessageQueue.json
  api/ethereum/WrappedEther.json
  ethereum/script/Deployment.s.sol
  ethereum/src/BridgingPayment.sol
  ethereum/src/erc20/managed/ERC20GearSupply.sol
  ethereum/src/interfaces/IERC20Manager.sol
  ethereum/src/interfaces/IMessageQueue.sol
  ethereum/src/interfaces/IPlonkVerifier.sol
  ethereum/src/libraries/PlonkVerifier.sol
  ethereum/test/Base.sol
  ethereum/test/BridgingPayment.t.sol
  ethereum/test/ERC20Manager.t.sol
  ethereum/test/GovernanceAdmin.t.sol
  ethereum/test/GovernancePauser.t.sol
  ethereum/test/MessageQueue.t.sol
  ethereum/test/Verifier.t.sol
  ethereum/test/libraries/BinaryMerkleTree.t.sol
  ethereum/test/libraries/CustomEnumerableMap.t.sol
  ethereum/test/script/Deployment.t.sol
Labels: ethereum-contracts
