Repository gear-tech/gear-bridges, pull requests merged in 2025-05, with the labels that each got.

#368 fix(frontend): Disable mint transactions for non-native tokens
  frontend/src/features/swap/hooks/eth/use-handle-eth-submit.ts
  frontend/src/features/swap/hooks/vara/use-handle-vara-submit.ts
Labels: bug, frontend

#369 fix(relayer): Fix manual relayer for eth-> gear direction
  relayer/src/cli/mod.rs
  relayer/src/main.rs
  relayer/src/message_relayer/common/gear/message_sender/mod.rs
  relayer/src/message_relayer/eth_to_gear/manual.rs
Labels: stability, relayer

#371 fix(relayer): Increase attempt count
  relayer/src/message_relayer/common/ethereum/mod.rs
Labels: stability, relayer

#366 feat(frontend): Add faucet token requests
  .github/workflows/k8s-deploy.yml
  frontend/.env.example
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/link-button/link-button.tsx
  frontend/src/features/faucet/api.ts
  frontend/src/features/faucet/assets/gift.svg
  frontend/src/features/faucet/components/get-balance-button/get-balance-button.module.scss
  frontend/src/features/faucet/components/get-balance-button/get-balance-button.tsx
  frontend/src/features/faucet/components/get-balance-button/index.ts
  frontend/src/features/faucet/components/index.ts
  frontend/src/features/faucet/consts.ts
  frontend/src/features/faucet/index.ts
  frontend/src/features/token-price/api.ts
  frontend/src/features/token-tracker/components/balance-card/balance-card.module.scss
  frontend/src/features/token-tracker/components/tokens-card/tokens-card.tsx
  frontend/src/utils/fetch-with-guard.ts
  frontend/src/utils/index.ts
Labels: feature, frontend

#372 fix(relayer): Use the current session in ApiProviderConnection::reconnect
  relayer/src/message_relayer/eth_to_gear/api_provider.rs
Labels: bug, relayer

#375 feat(tooling): add nix dev shell with flake.nix
  .envrc
  .gitignore
  flake.lock
  flake.nix
Labels: tooling

#376 feat(frontend): Remove SI units from formatted balances
  frontend/src/components/formatted-balance/fortmatted-balance.tsx
  frontend/src/features/swap/components/amount-input/amount-input.tsx
  frontend/src/features/swap/components/swap-form/swap-form.tsx
  frontend/src/features/token-price/components/token-price/token-price.tsx
Labels: feature, frontend

#379 feat(relayer): Add posibility to relay merkle proofs from the specified set_id
  relayer/src/cli/mod.rs
  relayer/src/main.rs
  relayer/src/relay_merkle_roots.rs
Labels: feature, relayer

#383 feat(frontend): Add block number display to transaction card
  frontend/src/components/copy-button/copy-button.module.scss
  frontend/src/components/copy-button/copy-button.tsx
  frontend/src/components/link-button/link-button.tsx
  frontend/src/features/history/assets/cube.svg
  frontend/src/features/history/components/block-number-link/block-number-link.module.scss
  frontend/src/features/history/components/block-number-link/block-number-link.tsx
  frontend/src/features/history/components/block-number-link/index.ts
  frontend/src/features/history/components/transaction-card/transaction-card.module.scss
  frontend/src/features/history/components/transaction-card/transaction-card.tsx
  frontend/src/features/history/components/transaction-date/transaction-date.module.scss
  frontend/src/features/history/components/transaction-date/transaction-date.tsx
  frontend/src/features/history/components/transaction-modal/transaction-modal.tsx
  frontend/src/features/history/consts/index.ts
  frontend/src/features/history/consts/queries.ts
  frontend/src/features/history/graphql/gql.ts
  frontend/src/features/history/graphql/graphql.ts
Labels: feature, frontend

#382 feat(frontend): Display end of truncated addresses
  frontend/src/components/address/address.tsx
  frontend/src/features/history/components/transaction-card/transaction-card.module.scss
  frontend/src/features/history/components/transaction-card/transaction-card.tsx
  frontend/src/features/history/components/transaction-modal/transaction-modal.module.scss
  frontend/src/features/history/components/transaction-modal/transaction-modal.tsx
  frontend/src/features/swap/components/token/token.module.scss
  frontend/src/features/wallet/components/wallet/wallet.module.scss
  frontend/src/features/wallet/components/wallet/wallet.tsx
  frontend/src/utils/index.ts
Labels: feature, frontend

#381 feat(frontend): Add default selected network based on connected wallet
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/history/components/transaction-modal/transaction-modal.tsx
  frontend/src/features/swap/components/select-token/select-token.tsx
  frontend/src/features/swap/components/submit-tooltip/index.ts
  frontend/src/features/swap/components/submit-tooltip/submit-tooltip.module.scss
  frontend/src/features/swap/components/submit-tooltip/submit-tooltip.tsx
  frontend/src/features/swap/components/swap-form/swap-form.tsx
  frontend/src/features/swap/context.tsx
  frontend/src/features/wallet/components/wallet/wallet.tsx
Labels: feature, frontend

#365 feat(ethereum-client): Set timeout
  ethereum/client/src/error.rs
  ethereum/client/src/lib.rs
  relayer/src/cli/common.rs
  relayer/src/main.rs
Labels: stability, refactoring, relayer

#386 feat(relayer): Add ability to fetch all MerkleRoot events
  .github/workflows/ci.yml
  api/ethereum/IRelayer.json
  api/ethereum/MessageQueue.json
  ethereum/client/src/abi.rs
  ethereum/client/src/lib.rs
  relayer/src/cli/mod.rs
  relayer/src/kill_switch.rs
  relayer/src/main.rs
  relayer/src/message_relayer/common/ethereum/merkle_root_extractor.rs
Labels: feature, relayer

#395 refactor(ci): merge check-api-files into build step
  .github/workflows/ci.yml
Labels: refactoring, tooling

#398 refactor(relayer): Don't change current block in listener on gearApi reconnect
  relayer/src/message_relayer/common/gear/block_listener.rs
Labels: refactoring, relayer

#396 refactor(ethereum): use versioned contracts in client code
  .github/workflows/ci.yml
  api/ethereum/BridgingPayment.json
  ethereum/client/build.rs
  ethereum/client/src/abi.rs
  gear-programs/vft-manager/app/build.rs
  gear-programs/vft-manager/app/src/services/submit_receipt/abi.rs
Labels: stability, refactoring

#391 refactor(relayer): Use data accumulator for gear-eth relayer
  Cargo.lock
  gear-rpc-client/src/dto.rs
  relayer/Cargo.toml
  relayer/src/main.rs
  relayer/src/message_relayer/common/ethereum/accumulator/mod.rs
  relayer/src/message_relayer/common/ethereum/accumulator/utils.rs
  relayer/src/message_relayer/common/ethereum/merkle_root_extractor.rs
  relayer/src/message_relayer/common/ethereum/message_sender.rs
  relayer/src/message_relayer/common/ethereum/message_sender/era.rs
  relayer/src/message_relayer/common/ethereum/message_sender/mod.rs
  relayer/src/message_relayer/common/ethereum/mod.rs
  relayer/src/message_relayer/common/gear/message_queued_event_extractor.rs
  relayer/src/message_relayer/common/mod.rs
  relayer/src/message_relayer/gear_to_eth/all_token_transfers.rs
  relayer/src/message_relayer/gear_to_eth/manual.rs
  relayer/src/message_relayer/gear_to_eth/paid_token_transfers.rs
Labels: stability, refactoring, relayer

#401 refactor(relayer): Attempt 10 reconnects in ApiProvider
  relayer/src/message_relayer/eth_to_gear/api_provider.rs
Labels: stability, refactoring, relayer

#406 chore(frontend): Add `Program` upgrades support
  frontend/package-lock.json
  frontend/package.json
  frontend/src/consts/sails/index.ts
  frontend/src/consts/sails/vft-manager.ts
  frontend/src/consts/sails/vft-vara.ts
  frontend/src/consts/sails/vft.ts
  frontend/src/features/swap/consts/sails/bridging-payment.ts
  frontend/src/features/swap/consts/sails/index.ts
Labels: frontend

#403 refactor(tests): Move integration tests into `tests` crate
  Cargo.lock
  Cargo.toml
  gear-programs/checkpoint-light-client/app/Cargo.toml
  gear-programs/historical-proxy/app/Cargo.toml
  gear-programs/vft-manager/app/Cargo.toml
  tests/Cargo.toml
  tests/src/checkpoint_light_client/chain-data/headers.json.zst
  tests/src/checkpoint_light_client/chain-data/holesky-bootstrap-368.json.zst
  tests/src/checkpoint_light_client/chain-data/holesky-finality-update-3_016_736.json
  tests/src/checkpoint_light_client/chain-data/holesky-finality-update-3_016_768.json
  tests/src/checkpoint_light_client/chain-data/holesky-finality-update-3_016_799.json
  tests/src/checkpoint_light_client/chain-data/holesky-update-368.json.zst
  tests/src/checkpoint_light_client/chain-data/sepolia-bootstrap-640.json
  tests/src/checkpoint_light_client/chain-data/sepolia-finality-update-5_263_072.json
  tests/src/checkpoint_light_client/chain-data/sepolia-update-640.json
  tests/src/checkpoint_light_client/mod.rs
  tests/src/historical_proxy/headers/holesky-block-2_498_456.json
  tests/src/historical_proxy/headers/holesky-header-2_498_457.json
  tests/src/historical_proxy/headers/holesky-header-2_498_458.json
  tests/src/historical_proxy/headers/holesky-header-2_498_459.json
  tests/src/historical_proxy/headers/holesky-header-2_498_460.json
  tests/src/historical_proxy/headers/holesky-header-2_498_461.json
  tests/src/historical_proxy/headers/holesky-header-2_498_462.json
  tests/src/historical_proxy/headers/holesky-header-2_498_463.json
  tests/src/historical_proxy/headers/holesky-header-2_498_464.json
  tests/src/historical_proxy/headers/holesky-receipts-2_498_456.json
  tests/src/historical_proxy/mod.rs
  tests/src/historical_proxy/shared.rs
  tests/src/lib.rs
  tests/src/vft_manager/mod.rs
Labels: stability, refactoring

#409 chore: update alloy dependencies
  Cargo.lock
  Cargo.toml
  ethereum/client/src/lib.rs
  gear-programs/vft-manager/app/src/services/submit_receipt/mod.rs
  gear-programs/vft-manager/tests/gtest.rs
  relayer/src/message_relayer/common/ethereum/mod.rs
  relayer/src/message_relayer/common/gear/message_sender/compose_payload.rs
Labels: stability

#411 refactor(relayer): Extract merkle roots with several number of confirmations
  Cargo.lock
  Cargo.toml
  ethereum/client/src/lib.rs
  relayer/src/cli/common.rs
  relayer/src/cli/mod.rs
  relayer/src/kill_switch.rs
  relayer/src/main.rs
  relayer/src/message_relayer/common/ethereum/block_listener.rs
  relayer/src/message_relayer/common/ethereum/deposit_event_extractor.rs
  relayer/src/message_relayer/common/ethereum/merkle_root_extractor.rs
  relayer/src/message_relayer/common/ethereum/message_paid_event_extractor.rs
  relayer/src/message_relayer/common/ethereum/message_sender.rs
  relayer/src/message_relayer/common/gear/message_sender/mod.rs
  relayer/src/message_relayer/gear_to_eth/all_token_transfers.rs
  relayer/src/message_relayer/gear_to_eth/manual.rs
  relayer/src/message_relayer/gear_to_eth/paid_token_transfers.rs
  relayer/src/relay_merkle_roots.rs
Labels: refactoring, relayer
