Repository gear-tech/gear-bridges, pull requests merged in 2025-10, with the labels that each got.

#655 feat(circuits): Implement Gate/Generator serialization with U32AddMany* and U32Arithmetic*
  prover/src/common/mod.rs
Labels: feature, relayer

#657 fix(ethereum): use relative nonces and block numbers in MessageQueue tests
  ethereum/test/MessageQueue.t.sol
Labels: ethereum-contracts

#661 feat(ethereum): add code coverage report
  audits/coverage-report.md
  ethereum/Dockerfile
  ethereum/README.md
  images/coverage/lcov-report-libraries-PlonkVerifier.png
  images/coverage/lcov-report-libraries.png
  images/coverage/lcov-report-main.png
  images/coverage/lcov-report-test-Base.png
  images/coverage/lcov-report-test.png
Labels: ethereum-contracts

#643 chore(PlonkVerifier): Update to testnet authority set id 1476
  ethereum/src/libraries/PlonkVerifier.sol
  ethereum/test/Verifier.t.sol
Labels: ethereum-contracts

#664 feat(circuits): Introduce ReadAdapter and use it in VariativeBlake2
  .github/workflows/ci.yml
  prover/src/common/generic_blake2.rs
  prover/src/common/mod.rs
  prover/src/lib.rs
  prover/src/serialization.rs
Labels: feature, optimization, relayer

#598 feat(frontend): add priority setting
  js/frontend/src/features/swap/components/settings/settings.tsx
  js/frontend/src/features/swap/components/swap-form/swap-form.tsx
  js/frontend/src/features/swap/consts/index.ts
  js/frontend/src/features/swap/consts/sails/bridging-payment.ts
  js/frontend/src/features/swap/consts/settings.ts
  js/frontend/src/features/swap/hooks/vara/use-pay-fees-with-await.ts
  js/frontend/src/features/swap/hooks/vara/use-prepare-pay-priority-fee.ts
  js/frontend/src/features/swap/hooks/vara/use-prepare-vara-txs.ts
  js/frontend/src/features/swap/hooks/vara/use-send-vara-txs.ts
  js/frontend/src/features/swap/hooks/vara/use-vara-fee.ts
  js/frontend/src/features/swap/hooks/vara/use-vara-txs-estimate.ts
  js/frontend/src/features/swap/types/hooks.ts
Labels: feature, frontend

#671 chore(frontend): support updated nonce
  js/frontend/src/features/history/graphql/graphql.ts
  js/frontend/src/features/swap/components/relay-tx-button/relay-tx-button.tsx
  js/frontend/src/features/swap/hooks/vara/use-relay-vara-tx.ts
  js/frontend/src/pages/transaction/transaction.tsx
Labels: frontend

#672 chore(frontend): bump sails and libs
  js/frontend/package.json
  js/frontend/src/consts/sails/vft-vara.ts
  js/frontend/src/consts/sails/vft.ts
  js/frontend/src/features/history/hooks/use-transaction.ts
  js/frontend/src/features/swap/components/settings/settings.tsx
  js/frontend/src/features/swap/consts/abi/erc20-manager-abi.ts
  js/frontend/src/features/swap/consts/sails/bridging-payment.ts
  js/frontend/src/features/swap/consts/sails/vft-manager.ts
  js/frontend/src/features/swap/hooks/vara/use-get-vara-ft-allowance.ts
  js/frontend/src/features/swap/hooks/vara/use-sign-and-send.ts
  js/frontend/src/hooks/use-vara-ft-balances.ts
  js/frontend/src/pages/transaction/transaction.tsx
  js/frontend/src/utils/index.ts
  yarn.lock
Labels: frontend

#674 fix(frontend): disable refetch on optimistic updates
  js/frontend/src/features/swap/components/pay-vara-fee-button/pay-vara-fee-button.tsx
  js/frontend/src/features/swap/components/relay-tx-button/relay-tx-button.tsx
  js/frontend/src/features/swap/hooks/eth/use-relay-eth-tx.ts
  js/frontend/src/features/swap/hooks/use-swap-form.ts
  js/frontend/src/features/swap/hooks/vara/use-relay-vara-tx.ts
  js/frontend/src/pages/transaction/transaction.tsx
Labels: frontend

#676 fix(frontend): `Message ran out of gas` error during `payPriorityFees` message
  js/frontend/src/features/swap/hooks/vara/use-pay-fees-with-await.ts
Labels: frontend
