Repository gear-tech/gear-bridges, pull requests merged in 2025-08, with the labels that each got.

#552 chore: update gear dependencies to 1.9.0
  .cargo/config.toml
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  ethereum/client/Cargo.toml
  gear-programs/bridging-payment/app/src/services.rs
  gear-programs/checkpoint-light-client/app/src/lib.rs
  gear-programs/checkpoint-light-client/app/src/services/checkpoint.rs
  gear-programs/checkpoint-light-client/app/src/services/mod.rs
  gear-programs/checkpoint-light-client/app/src/services/replay_back.rs
  gear-programs/checkpoint-light-client/app/src/services/state.rs
  gear-programs/checkpoint-light-client/app/src/services/sync_update/mod.rs
  gear-programs/eth-events-common/src/lib-template.rs
  gear-programs/historical-proxy/app/src/lib.rs
  gear-programs/historical-proxy/app/src/service.rs
  gear-programs/vft-common/src/lib.rs
  gear-programs/vft-manager/app/src/services/mod.rs
  gear-programs/vft-manager/app/src/services/request_bridging/mod.rs
  gear-programs/vft-manager/app/src/services/submit_receipt/token_operations.rs
  gear-programs/vft-vara/app/src/lib.rs
  gear-programs/vft/app/src/lib.rs
  gear-rpc-client/Cargo.toml
  gear-rpc-client/src/lib.rs
  mock-contract/src/wasm.rs
  relayer/src/common.rs
  relayer/src/proof_storage/gear.rs
  rust-toolchain.toml
  tests/Cargo.toml
  tests/src/vft_manager/gtest.rs
  tests/src/vft_manager/mod.rs
Labels: refactoring, optimization

#560 fix(frontend): Vara transaction links and addresses format
  js/frontend/src/pages/transaction/transaction.tsx
  js/frontend/src/providers.tsx
Labels: bug, frontend

#559 feat(frontend): Add responsive layout
  js/frontend/index.html
  js/frontend/package.json
  js/frontend/src/components/fee-and-time-footer/fee-and-time-footer.module.scss
  js/frontend/src/components/formatted-balance/formatted-balance.module.scss
  js/frontend/src/components/formatted-balance/formatted-balance.tsx
  js/frontend/src/components/formatted-balance/index.ts
  js/frontend/src/components/layout/container/container.module.scss
  js/frontend/src/components/layout/header/consts.ts
  js/frontend/src/components/layout/header/header.module.scss
  js/frontend/src/components/layout/header/header.tsx
  js/frontend/src/features/history/components/transaction-card/transaction-card.module.scss
  js/frontend/src/features/history/components/transaction-card/transaction-card.tsx
  js/frontend/src/features/history/components/transaction-date/transaction-date.module.scss
  js/frontend/src/features/history/components/transaction-modal/transaction-modal.module.scss
  js/frontend/src/features/history/components/transaction-pair/transaction-pair.module.scss
  js/frontend/src/features/history/components/transaction-pair/transaction-pair.tsx
  js/frontend/src/features/history/components/transaction-status/transaction-status.tsx
  js/frontend/src/features/swap/components/select-token/select-token.module.scss
  js/frontend/src/features/swap/components/swap-form/swap-form.module.scss
  js/frontend/src/features/token-price/components/token-price/token-price.tsx
  js/frontend/src/features/token-tracker/components/balance-card/balance-card.module.scss
  js/frontend/src/features/wallet/components/wallet/wallet.module.scss
  js/frontend/src/features/wallet/components/wallet/wallet.tsx
  js/frontend/src/index.scss
  js/frontend/src/pages/transaction/transaction.module.scss
  js/frontend/src/pages/transaction/transaction.tsx
  js/frontend/src/pages/transactions/transactions.module.scss
  js/frontend/src/utils/_breakpoints.scss
  js/frontend/vite.config.ts
  yarn.lock
Labels: feature, frontend
