Repository gear-tech/gear-bridges, pull requests merged in 2025-06, with the labels that each got.

#421 refactor(checkpoint-light-client): emit event on new checkpoint
  gear-programs/checkpoint-light-client/app/src/services/mod.rs
  gear-programs/checkpoint-light-client/app/src/services/replay_back.rs
  gear-programs/checkpoint-light-client/app/src/services/sync_update/mod.rs
  tests/src/checkpoint_light_client/mod.rs
Labels: refactoring, gear-programs

#407 refactor(relayer): proper subscription to finalized blocks
  relayer/src/main.rs
  relayer/src/message_relayer/common/gear/block_listener.rs
  relayer/src/message_relayer/common/gear/checkpoints_extractor.rs
  relayer/src/message_relayer/common/gear/message_paid_event_extractor.rs
  relayer/src/message_relayer/common/gear/message_queued_event_extractor.rs
  relayer/src/message_relayer/common/gear/message_sender/mod.rs
  relayer/src/message_relayer/eth_to_gear/all_token_transfers.rs
  relayer/src/message_relayer/eth_to_gear/manual.rs
  relayer/src/message_relayer/eth_to_gear/paid_token_transfers.rs
  relayer/src/message_relayer/gear_to_eth/all_token_transfers.rs
  relayer/src/message_relayer/gear_to_eth/paid_token_transfers.rs
Labels: stability, refactoring, relayer

#414 chore: update gear dependencies to 1.8.1, sails to 0.8.1
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  api/gear/bridging_payment.idl
  api/gear/historical_proxy.idl
  api/gear/vft.idl
  api/gear/vft_manager.idl
  api/gear/vft_vara.idl
  circuits/plonky2_blake2b256/src/circuit.rs
  circuits/plonky2_ecdsa/src/curve/curve_summation.rs
  circuits/plonky2_ecdsa/src/gadgets/biguint.rs
  ethereum-common/src/base_types/bits.rs
  ethereum-common/src/utils.rs
  gear-programs/bridging-payment/app/src/lib.rs
  gear-programs/bridging-payment/app/src/services.rs
  gear-programs/checkpoint-light-client/app/Cargo.toml
  gear-programs/checkpoint-light-client/app/src/services/replay_back.rs
  gear-programs/checkpoint-light-client/app/src/services/sync_update/mod.rs
  gear-programs/eth-events-deneb/app/Cargo.toml
  gear-programs/eth-events-electra/app/Cargo.toml
  gear-programs/historical-proxy/app/Cargo.toml
  gear-programs/historical-proxy/app/src/lib.rs
  gear-programs/historical-proxy/app/src/service.rs
  gear-programs/historical-proxy/app/src/tests.rs
  gear-programs/vft-manager/app/Cargo.toml
  gear-programs/vft-manager/app/src/lib.rs
  gear-programs/vft-manager/app/src/services/mod.rs
  gear-programs/vft-manager/app/src/services/request_bridging/mod.rs
  gear-programs/vft-manager/app/src/services/request_bridging/token_operations.rs
  gear-programs/vft-manager/app/src/services/submit_receipt/mod.rs
  gear-programs/vft-manager/app/src/services/submit_receipt/token_operations.rs
  gear-programs/vft-manager/app/src/services/token_mapping.rs
  gear-programs/vft-manager/tests/gtest.rs
  gear-rpc-client/src/lib.rs
  prover/src/common/targets/target.rs
  prover/src/lib.rs
  prover/src/storage_inclusion/storage_trie_proof/node_parser/branch_parser/bitmap_parser.rs
  prover/src/storage_inclusion/storage_trie_proof/node_parser/branch_parser/child_node_array_parser/mod.rs
  prover/src/storage_inclusion/storage_trie_proof/storage_address.rs
  relayer/src/common.rs
  relayer/src/kill_switch.rs
  relayer/src/message_relayer/common/ethereum/block_listener.rs
  relayer/src/message_relayer/common/ethereum/deposit_event_extractor.rs
  relayer/src/message_relayer/common/ethereum/merkle_root_extractor.rs
  relayer/src/message_relayer/common/ethereum/message_paid_event_extractor.rs
  relayer/src/message_relayer/common/gear/checkpoints_extractor.rs
  relayer/src/message_relayer/common/gear/message_paid_event_extractor.rs
  relayer/src/message_relayer/common/gear/message_queued_event_extractor.rs
  relayer/src/message_relayer/common/gear/message_sender/mod.rs
  relayer/src/message_relayer/eth_to_gear/api_provider.rs
  relayer/src/message_relayer/gear_to_eth/manual.rs
  relayer/src/proof_storage/file_system.rs
  relayer/src/proof_storage/gear.rs
  relayer/src/relay_merkle_roots.rs
  rust-toolchain.toml
  tests/src/historical_proxy/mod.rs
  tests/src/lib.rs
  tools/deploy-checkpoints/src/main.rs
  tools/governance/src/main.rs
Labels: stability

#439 feat(deploy-to-gear): Add command to migrate VFT balances
  Cargo.lock
  Cargo.toml
  gear-common/Cargo.toml
  gear-common/src/lib.rs
  tests/Cargo.toml
  tests/src/lib.rs
  tests/src/vft.rs
  tools/deploy-to-gear/Cargo.toml
  tools/deploy-to-gear/src/main.rs
Labels: feature, tooling

#440 feat(frontend): Read tokens metadata from indexer
  .github/workflows/k8s-deploy.yml
  frontend/.env.example
  frontend/Dockerfile
  frontend/codegen.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/token-svg/token-svg.module.scss
  frontend/src/components/token-svg/token-svg.tsx
  frontend/src/consts/env.ts
  frontend/src/consts/icons.ts
  frontend/src/consts/index.ts
  frontend/src/features/faucet/components/get-balance-button/get-balance-button.tsx
  frontend/src/features/history/components/transaction-pair/transaction-pair.tsx
  frontend/src/features/history/graphql/fragment-masking.ts
  frontend/src/features/history/graphql/gql.ts
  frontend/src/features/history/graphql/graphql.ts
  frontend/src/features/history/hooks/index.ts
  frontend/src/features/history/hooks/use-pairs.ts
  frontend/src/features/history/index.ts
  frontend/src/features/swap/components/select-token/select-token.tsx
  frontend/src/features/swap/components/swap-form/swap-form.tsx
  frontend/src/features/swap/components/token/token.tsx
  frontend/src/features/swap/context.tsx
  frontend/src/features/swap/hooks/eth/use-mint.ts
  frontend/src/features/token-price/components/token-price/token-price.tsx
  frontend/src/features/token-tracker/components/balance-card/balance-card.module.scss
  frontend/src/features/token-tracker/components/balance-card/balance-card.tsx
  frontend/src/features/token-tracker/components/locked-balance-tooltip/locked-balance-tooltip.tsx
  frontend/src/features/token-tracker/components/tokens-card/tokens-card.tsx
  frontend/src/features/token-tracker/hooks/use-burn-eth-tokens.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/tokens/index.ts
  frontend/src/hooks/tokens/use-ft-addresses.ts
  frontend/src/hooks/tokens/use-ft-decimals.ts
  frontend/src/hooks/tokens/use-ft-symbols.ts
  frontend/src/hooks/tokens/use-tokens.ts
  frontend/src/hooks/use-tokens.ts
  frontend/src/hooks/use-wrapped-vara-program.ts
  frontend/src/pages/transactions/transactions.tsx
  frontend/src/utils/index.ts
Labels: feature, frontend

#446 refactor(frontend): Improve token data structures
  frontend/src/components/token-svg/token-svg.tsx
  frontend/src/context/index.ts
  frontend/src/context/tokens.tsx
  frontend/src/features/history/components/transaction-card/transaction-card.tsx
  frontend/src/features/history/components/transaction-modal/transaction-modal.tsx
  frontend/src/features/history/components/transaction-pair/transaction-pair.tsx
  frontend/src/features/history/hooks/use-pairs.ts
  frontend/src/features/history/utils/filters.ts
  frontend/src/features/swap/components/select-token/select-token.tsx
  frontend/src/features/swap/components/swap-form/swap-form.tsx
  frontend/src/features/swap/components/token/token.tsx
  frontend/src/features/swap/consts/index.ts
  frontend/src/features/swap/context.tsx
  frontend/src/features/swap/hooks/eth/use-approve.ts
  frontend/src/features/swap/hooks/eth/use-handle-eth-submit.ts
  frontend/src/features/swap/hooks/eth/use-mint.ts
  frontend/src/features/swap/hooks/index.ts
  frontend/src/features/swap/hooks/use-swap-form.ts
  frontend/src/features/swap/hooks/use-token.ts
  frontend/src/features/swap/hooks/vara/use-handle-vara-submit.ts
  frontend/src/features/swap/hooks/vara/use-pay-fee.ts
  frontend/src/features/swap/hooks/vara/use-prepare-approve.ts
  frontend/src/features/swap/utils.ts
  frontend/src/features/token-tracker/components/balance-card/balance-card.tsx
  frontend/src/features/token-tracker/components/locked-balance-tooltip/locked-balance-tooltip.tsx
  frontend/src/features/token-tracker/components/tokens-card/tokens-card.tsx
  frontend/src/features/token-tracker/hooks/use-burn-eth-tokens.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/use-eth-ft-balances.ts
  frontend/src/hooks/use-tokens.ts
  frontend/src/hooks/use-vara-ft-balances.ts
  frontend/src/hooks/use-wrapped-vara-program.ts
  frontend/src/pages/transactions/transactions.tsx
  frontend/src/providers.tsx
  frontend/src/utils/index.ts
Labels: refactoring, frontend

#452 refactor(vft-manager): Add new events
  api/gear/vft_manager.idl
  gear-programs/vft-manager/app/src/services/mod.rs
Labels: refactoring, gear-programs

#465 refactor(vft-manager): Init in paused state with erc20_manager_address set to None
  api/gear/vft_manager.idl
  gear-programs/vft-manager/app/src/services/mod.rs
  gear-programs/vft-manager/app/src/services/request_bridging/mod.rs
  gear-programs/vft-manager/app/src/services/submit_receipt/mod.rs
  gear-programs/vft-manager/tests/gtest.rs
  tests/src/vft_manager/mod.rs
Labels: stability, gear-programs

#469 feat(tools): vft-manager-tool
  Cargo.lock
  Cargo.toml
  api/gear/vft_manager.idl
  gear-common/Cargo.toml
  gear-common/src/lib.rs
  gear-programs/vft-manager/app/src/services/mod.rs
  gear-programs/vft-manager/app/src/services/submit_receipt/mod.rs
  tests/src/vft_manager/mod.rs
  tools/vft-manager-tool/Cargo.toml
  tools/vft-manager-tool/src/main.rs
Labels: feature, tooling

#471 refactor(relayer): introduce BlockStorage
  relayer/src/main.rs
  relayer/src/message_relayer/common/ethereum/deposit_event_extractor.rs
  relayer/src/message_relayer/common/ethereum/message_paid_event_extractor.rs
  relayer/src/message_relayer/common/mod.rs
  relayer/src/message_relayer/eth_to_gear/all_token_transfers.rs
  relayer/src/message_relayer/eth_to_gear/manual.rs
  relayer/src/message_relayer/eth_to_gear/paid_token_transfers.rs
  relayer/src/message_relayer/eth_to_gear/storage.rs
  relayer/src/message_relayer/eth_to_gear/tx_manager.rs
Labels: stability, refactoring, relayer

#479 refactor(frontend): Query USDC domain via `eip712Domain`
  frontend/src/consts/abi/erc20-abi.ts
  frontend/src/consts/abi/fungible-token-abi.ts
  frontend/src/consts/abi/index.ts
  frontend/src/consts/index.ts
  frontend/src/features/swap/consts/abi/erc20permit-nonces-abi.ts
  frontend/src/features/swap/consts/abi/erc5267-abi.ts
  frontend/src/features/swap/consts/abi/index.ts
  frontend/src/features/swap/consts/abi/usdc-abi.ts
  frontend/src/features/swap/consts/index.ts
  frontend/src/features/swap/hooks/eth/use-approve.ts
  frontend/src/features/swap/hooks/eth/use-eth-ft-allowance.ts
  frontend/src/features/swap/hooks/eth/use-permit-usdc.ts
  frontend/src/hooks/use-eth-ft-balance.ts
  frontend/src/hooks/use-eth-ft-balances.ts
Labels: refactoring, frontend

#485 fix(relayer): remove unecessary infinite loop preventing restarts
  relayer/src/main.rs
  relayer/src/message_relayer/common/ethereum/deposit_event_extractor.rs
  relayer/src/message_relayer/common/ethereum/message_paid_event_extractor.rs
  relayer/src/message_relayer/eth_to_gear/proof_composer.rs
Labels: stability, relayer

#491 fix(frontend): Remove display of hardcoded fee values
  frontend/src/components/fee-and-time-footer/fee-and-time-footer.tsx
  frontend/src/features/history/components/transaction-modal/transaction-modal.module.scss
  frontend/src/features/history/components/transaction-modal/transaction-modal.tsx
  frontend/src/features/swap/components/swap-form/swap-form.tsx
  frontend/src/features/swap/hooks/eth/use-handle-eth-submit.ts
  frontend/src/features/swap/hooks/vara/use-handle-vara-submit.ts
  frontend/src/features/swap/types/form.ts
Labels: frontend
